@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Itim&display=swap');

*{

}

h1{
    font-family: 'Gloria Hallelujah', cursive;
}

span, p{
    font-family: 'Itim', cursive;
}

body{
    background-color: rgb(245, 245, 255);

    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header{
    background-color: aquamarine;

    position: absolute;
    top: 0px;
    width: 100vw;
    
}

.bonbon-container{
    

    width: 1000px;

    display: flex;
    align-self: center;
    justify-content: space-around;
}

#bonbon-0,#bonbon-1,#bonbon-2{
    transition-property: width, height;
    transition-duration: 0.5s;
}

.unavailable{
    pointer-events: none;
    cursor: not-allowed;
}

.idle{
    

    width: 300px;
    height: 300px;

    opacity: 0.5;
}

.playing{
    width: 350px;
    height: 350px;

    opacity: 1;
}


.red{
    background-color: red;
}